<div class="bg-light-blue pt-5 pb-5">
    <div class="container">
        <div class="row mt-5 mb-2 align-items-center">
            <div class="col-md-6">
                <h2>
                    Dynamic Blocks
                </h2>
                <p>Add enough blocks to make the page scroll by clicking on "Add new block" button.</p>
            </div>
            <div class="col-md-6">
                <div class="d-flex justify-content-end">
                    <button class="btn btn-success" (click)="addBlocks()">Add new block</button>
                </div>
            </div>
        </div>
        <div class="row block-row" #blockParent>
            <!-- Dynamic blocks will be added here -->
        </div>
    </div>
</div>
