<div class="product-list bg-light-blue pt-5 pb-5">
    <div class="container">
        <div class="row align-items-center mb-5">
            <div class="col-md-6">
                <h2 class="mb-3 mb-md-0">
                    Products
                </h2>
            </div>
            <div class="col-md-6 text-right">
                <div class="d-flex product-filter justify-content-end">
                    <button class="btn btn-success" type="button" href="javascript:void(0)" (click)="displayType='grid'" *ngIf="displayType!='grid'" data-bs-toggle="tooltip" data-bs-placement="top" title="Grid View">
                        <i class="fas fa-th"></i>
                    </button>
                    <button class="btn btn-success" type="button" (click)="displayType='list'" *ngIf="displayType!='list'" data-bs-toggle="tooltip" data-bs-placement="top" title="List View">
                        <i class="fas fa-list"></i>
                    </button>
                    <select class="form-control ms-3" [(ngModel)]="selectedPriceType" (ngModelChange)="changePriceType($event)">
                        <option value="">Sort By</option>
                        <option value="alphabetically">Alphabetically</option>
                        <option value="low">Price: Low to High</option>
                        <option value="high">Price: high to low</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 mb-4" [ngClass]="{'col-md-3': displayType === 'grid', 'col-md-12 product-type-list' : displayType === 'list' }" *ngFor="let product of products">
                <div class="product-box">
                    <div class="product-box__img">
                        <a [routerLink]="['/products', product.id]">
                            <img src="{{ product.image }}" class="img-fluid" alt="{{ product.title }}">
                        </a>
                    </div>
                    <div class="product-box__details">
                        <h3>
                            <a [routerLink]="['/products', product.id]">
                                {{ product.title }}
                            </a>
                        </h3>
                        <p class="product-box__price mb-0 mt-3"><b>{{ product.price }}<small>USD</small></b></p>
                    </div>
                    
                </div>
                
            </div>
        </div>
    </div>
</div>
